.container {
  margin: 5px;
  background-color: rgba(255, 255, 255, 0.44);
  padding: 8px;
  width: 132px;
}

.label {
  font-weight: 600;
  margin: 9px 2px 3px 0;
}

.subLabel {
  font-weight: 400;
  font-style: italic;
  margin: 9px 2px 3px 0;
}
